h1 {
  font-family: "Pacifico", cursive, sans-serif;
  text-align: center;
  color: #161414;
}

p {
  font-family: "Funnel Display", sans-serif;
  text-align: center;
  color: #161414;
}

a {
  color: #dc4226;
  text-decoration: none;
}

a:hover {
  color: #f26b50;
  text-decoration: underline;
  cursor: crosshair;
}

#todays-challenge {
  font-weight: bold;
  color: #8f0b51;
  font-size: 52px;
}