body {
    text-align: center;
    background-color: rgb(192, 143, 197);
    margin: 150px;
}

h1 {
    font-family: "Pacifico", cursive, sans-serif;
    font-size: 50xp;
    font-weight: bold;
    color: black;
}

p {
    font-family: "Funnel Display", sans-serif;
    font-size: 18px;
    color: rgb(51, 50, 51);
}

a {
    color: rgb(143, 11, 41);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: rgb(124, 83, 129);
}

ul {
    list-style: square;
}

li {
    text-align: left;
    margin-left: 200px;
}