header {
  display: inline-block;
  padding: 10px;
  margin: 10px 0;
}

body {
  text-align: center;
  background-color: rgb(141, 119, 143);
  margin: 150px;
}

h1 {
  font-family: "Pacifico", cursive, sans-serif;
  font-size: 50xp;
  font-weight: bold;
  color: black;
}

p {
  font-family: "Funnel Display", sans-serif;
  font-size: 18px;
  color: rgb(51, 50, 51);
}

a {
  color: rgb(143, 11, 41);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: rgb(124, 83, 129);
}

ul {
  list-style: none;
  margin: 10px 300px 10px 300px;
  padding: 10px;
}

.title-image {
  border-radius: 50px;
}

h2 {
  font-family: "Funnel Display", sans-serif;
  font-size: 36px;
}

ul li {
  background-color: rgb(160, 110, 143);
  border-radius: 50px;
  margin-bottom: 16px;
  text-align: left;
  padding: 25px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.highlight {
  background-color: rgb(117, 80, 105);
}

.highlight p {
  font-weight: bold;
  color: rgb(49, 27, 63);
}
